/*  Basic styling 
	============================================================= */

html,
body {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	/* Renders text clean */
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	/* when media 500px or less, text overflows screen */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

/*  custom styling
	============================================================= */

.form-control {
	border-radius: 1.25rem !important;
}
.form-control:focus {
	color: #000000;
	background-color: #fff;
	border-color: #6d0ee8;
	outline: 0;
	box-shadow: inset 0 -1px 0 #ddd;
}
.btn-light {
	color: #212529;
	background-color: #f8f9fa00;
	border-color: #6d0ee8;
}
.btn-light.focus,
.btn-light:focus {
	color: #ffffff;
	background-color: #6d0ee8;
	border-color: #6d0ee8;
	box-shadow: none;
}
.btn-light:hover {
	color: #ffffff;
	background-color: #6d0ee8;
	border-color: #6d0ee8;
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
	color: #ffffff;
	background-color: #6d0ee8;
	border-color: #6d0ee8;
}
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
	box-shadow: none;
}
.btn {
	border-radius: 1.25rem;
}
.br-rounded {
	border-radius: 1.25rem;
}
.jumbotron {
	padding: .5rem .5rem;
	background-color: #e9ecef;
	border-radius: 3.25rem;
	margin-bottom: 0;
}
.jumbotron p {
	margin-bottom: 0;
}
.mb-0 {
	margin-bottom: 0;
}
.que-ans {
	padding: 1rem;
	border: 2px solid #6d0ee8;
	border-radius: 1rem;
	margin: 1.3rem 1px;
}
.que {
	color: #000000;
	font-family: monospace;
}
.ans {
	color: #000000;
	font-family: cursive;
}
.text-primary {
	color: #6d0ee8 !important;
}